<div class="container">
	<h1>Soundcloud custom player</h1>
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="hhttps://soundcloud.com/radioflouka/terroir-dealer-ep-1-radio-flouka-04052020" class="sc-player"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="https://soundcloud.com/radioflouka/terroirdealer-episode-2-radio-flouka-14092020" class="sc-player"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="https://soundcloud.com/le-n-ko/gingin1" class="sc-player"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="https://soundcloud.com/le-n-ko/102-102a" class="sc-player"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="https://soundcloud.com/le-n-ko/nappe-a-classer" class="sc-player"></a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="https://soundcloud.com/le-n-ko/cordeler" class="sc-player"></a>
		</div>		
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="https://soundcloud.com/le-n-ko/yung-simmie-be-cool-nko-mod" class="sc-player"></a>
		</div>
	</div>
</div>

<div class="clear"></div>
